body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #eef2f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
}

h1 {
    margin-bottom: 30px;
    color: #333;
    font-size: 2.5em;
    font-weight: 300;
}

#buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 60%;
}

.mbti-button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 1em;
}

.mbti-button:hover {
    background-color: #357ab8;
    transform: translateY(-3px);
}

#result {
    margin-top: 30px;
    text-align: left;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 100%;
}
